[APP]
debug = false
log_level = ERROR
log_main_file = /var/log/brotify.log
secret_key = secret_key_placeholder
use_https = true
worker_default_password_salt = worker_default_password_salt_placeholder
support_email_address = basile.paradis@gmail.com

[DATABASE]
engine = database_engine_placeholder
host = database_host_placeholder
port = database_port_placeholder
name = database_name_placeholder
user = database_user_placeholder
password = database_password_placeholder
# https://docs.djangoproject.com/en/3.0/ref/settings/#conn-max-age
connection_max_age = 0

[SMTP]
backend = smtp_backend_placeholder
host = smtp_host_placeholder
port = smtp_port_placeholder
tls = smtp_tls_placeholder
user = smtp_user_placeholder
password = smtp_password_placeholder

[AMQP]
url = amqp://guest:guest@localhost
queue = data_input
messaging_queue = messaging_hub_v3
alerts_queue = alerts
