// 1. Import the initial variables
@import "./node_modules/bulma/sass/utilities/initial-variables"

// 2. Set your own initial variables

// 3. Import the rest of Bulma
@import "./node_modules/bulma/bulma"

// 4. Import your stuff here
@font-face
  font-family: Gotham;
  src: url("../GothamHTF-Bold.otf");

html
    font-family: Gotham;
    background-color: #191414

    .navbar
        background-color: #1DB954

    .container
        padding-top: 5pc
        padding-bottom: 5pc
        display: flex
        flex-direction: column
        justify-content: center
        min-height: 100vh

        .button
            background-color: #1DB954

    .footer
        background-color: lightgray