<!DOCTYPE html>
<html lang="fr-CA">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Brotify{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="/static/javascript.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/static/bulma/css/style.css">
    <link href="/static/hamburger.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="http://cdn.jsdelivr.net/qtip2/3.0.3/jquery.qtip.min.css" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <div class="button is-rounded" id="logo">
            <a class="navbar-item has-text-black" href="/">
              <!-- <span class="icon is-large fa-stack fa-lg"><i class="fab fa-spotify fa-stack-2x" data-fa-transform="rotate-180"></i></span> -->
              <img src="../static/bro.webp" width="30" height="30">
              <span><strong>Brotify</strong></span>
            </a>
          </div>
          {% if user.is_authenticated %}
            <nav id="navigation" class="navbar-dropdown is-right is-hidden-desktop">
            <a class="navbar-item" href="/">Mon profil</a>
            <a class="navbar-item" href="/biblio">Ma bibliothèque</a>
            <a class="navbar-item" href="/amis">Mes amis</a>
          </nav>
          <button class="hamburger hamburger--minus is-hidden-desktop" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
          {% endif %}
        </div>
        <div class="navbar-menu">
          {% if user.is_authenticated %}
          <div class="navbar-start">
            <a class="navbar-item" href="/">Mon profil</a>
            <a class="navbar-item" href="/biblio">Ma bibliothèque</a>
            <a class="navbar-item" href="/amis">Mes amis</a>
          </div>
          {% endif %}
        </div>
        <div class="navbar-end is-hidden-touch">
          <div class="navbar-item">
            <div class="buttons">
              {% if user.is_authenticated %}
                <span class="button is-light is-rounded is-static">Bienvenue {{ user.username }}!</span>
                <a class="button is-light" href="{% url 'logout' %}">Se déconnecter</a>
              {% else %}
                <a class="button is-primary is-inverted has-text-success" href="{% url 'signup' %}"><span class="icon"><i class="fas fa-sign-in-alt"></i></span><span>S'inscrire</span></a>
                <a class="button is-light is-inverted" href="{% url 'login' %}"><strong>Se connecter</strong></a>
              {% endif %}
            </div>
          </div>
        </div>
    </nav>
    <div class="container has-text-centered">
      <div class="box">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </body>
  <footer class="footer is-fixed-bottom">
    <div class="content has-text-centered">
      <p>
        <strong>&copy; Brotify 2020</strong>
      </p>
    </div>
  </footer>
</html>