{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% load friendshiptags %}
  <div class="box">
    <div class="grid-container">
      {% for user in users %}
        {% if user.id != current_user.id %}
          <div class="card grid-item">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  {% if user.socialuser.avatar.url %}
                    <img class="is-rounded" src="{{ user.socialuser.avatar.url }}" alt="Profile picture">
                  {% else %}
                    {% load static %}
                    <img class="is-rounded" src="{% static 'default_user_pic.webp' %}" alt="Profile picture">
                  {% endif %}
                </figure>
              </div>
              <div class="media-content">
                <p class="title is-6">{{ user.username }}</p>
                <p class="subtitle is-6">{{ user.first_name }} {{ user.last_name }}</p>
              </div>
              {% if user.id in id_invitation_sent %}
                <button class="button is-rounded is-inverted is-info">
                  <i class="fas fa-user-clock" aria-hidden="true"></i>
                </button>
              {% elif user.id in id_invitation_received %}
                <form action="/amis/" method="post">
                  {% csrf_token %}
                  <button type="submit" value="{{ user.id }}" name="accept_friend" class="button is-rounded is-inverted is-success">
                    <i class="fas fa-check" aria-hidden="true"></i>
                  </button>
                  <button type="submit" value="{{ user.id }}" name="deny-friend" class="button is-rounded is-inverted is-danger">
                    <i class="fas fa-ban" aria-hidden="true"></i>
                  </button>
                </form>
              {% elif user.id in id_amis %}
                <form action="/amis/" method="post">
                  {% csrf_token %}
                  <button type="submit" value="{{ user.id }}" name="compare" class="button is-rounded is-primary">
                    <i class="fas fa-user-friends"></i>
                  </button>
                  <button type="submit" value="{{ user.id }}" name="remove-friend" class="button is-rounded is-inverted is-primary">
                    <i class="fas fa-user-check" id="un-ami"></i>
                  </button>
                </form>
              {% elif user.id not in id_amis %}
                <form action="/amis/" method="post">
                {% csrf_token %}
                  <button type="submit" value="{{ user.id }}" name="add-friend" class="button is-rounded is-inverted is-success">
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                  </button>
                </form>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
  {% if chansons_comparees != None %}
    {% if chansons_comparees|length == 0 %}
      <div class="box has-text-centered">Cet utilisateur n'a pas encore synchronisé son compte Spotify avec Brotify</div>
    {% else %}
      <div class="box has-text-centered">
        <h1 class="subtitle box" style="background-color: lightgray;">Chansons en commun</h1>
        {% for chanson in chansons_comparees %}
          <a href="{{ chanson.url_track }}">
            <img class="tooltip is-64x64"
                 src="{{ chanson.url_cover_small }}"
                 title="{{ chanson.title }}"
                 alt="{{ chanson.artist }}"
                 data-*="{{ chanson.url_player }}"
            />
          </a>
        {% endfor %}
      </div>
    <div class="box has-text-centered" style="margin:auto;">
      <h1 class="subtitle box" style="background-color: lightgray;">Artistes en commun</h1>
      <div id="graph-container" style="position: relative; width:80vw;">
        <canvas id="bubble-chart"></canvas>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
      <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
      <script>
        new Chart(document.getElementById("bubble-chart"), {
          type: 'bubble',
          data: {
            labels: "Artistes",
            datasets: {{ artists_data|safe }}
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              xAxes: [{
                type: 'logarithmic',
                ticks: {
                  display: false
                },
                scaleLabel: {
                  display: true,
                  labelString: "Titres aimés par vous",
                  fontColor: "black",
                  fontStyle: "bold",
                }
              }],
              yAxes: [{
                type: 'logarithmic',
                ticks: {
                  display: false
                },
                scaleLabel: {
                  display: true,
                  labelString: "Titres aimés par votre bro",
                  fontColor: "black",
                  fontStyle: "bold",
                }
              }]
			},
            plugins: {
              zoom: {
                // Container for pan options
                pan: {
                  // Boolean to enable panning
                  enabled: true,

                  // Panning directions. Remove the appropriate direction to disable
                  // Eg. 'y' would only allow panning in the y direction
                  mode: 'xy'
                },

                // Container for zoom options
                zoom: {
                  // Boolean to enable zooming
                  enabled: true,

                  // Zooming directions. Remove the appropriate direction to disable
                  // Eg. 'y' would only allow zooming in the y direction
                  mode: 'xy',
                }
              }
            }
          }
        });
      </script>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
