{% extends 'base.html' %}

{% block title %}Amis{% endblock %}

<div class="container has-text-centered">
  <div class="box column is-4 is-offset-one-third">
    {% block content %}
        {% load friendshiptags %}
        {% for user in users %}
            <div class="box">
              <article class="media">
                <div class="media-left">
                {% if social %}
                    {{ social }}
                  <figure class="image is-64x64">
                    <img src="{{ social.avatar }}" alt="Avatar">
                  </figure>
                {% endif %}
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>{{ user.first_name }} {{ user.last_name }}</strong> <small>{{ user.username }}</small> <small>31m</small>
                    </p>
                  </div>
                  <nav class="level is-mobile">
                    <div class="level-left">
                      <a class="level-item" aria-label="reply">
                        <span class="icon is-small">
                          <i class="fas fa-reply" aria-hidden="true"></i>
                        </span>
                      </a>
                      <a class="level-item" aria-label="retweet">
                        <span class="icon is-small">
                          <i class="fas fa-retweet" aria-hidden="true"></i>
                        </span>
                      </a>
                      <a class="level-item" aria-label="like">
                        <span class="icon is-small">
                          <i class="fas fa-heart" aria-hidden="true"></i>
                        </span>
                      </a>
                    </div>
                  </nav>
                </div>
              </article>
            </div>
        {% endfor %}
        {% friends request.user %}
        {% friend_requests request.user %}
    {% endblock %}
  </div>
</div>
