{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="box">
      <p><strong>Bienvenue {{ user.username }}!</strong></p>
      <p><small>Dernière connexion le {{ user.last_login }}</small></p>
    </div>
      <p><a href="{% url 'social:begin' 'spotify' %}" class="button is-link is-light"><span class="fas fa-sign-in-alt"></span>Se connecter à Spotify</a></p>
      <form action="{% url 'social:disconnect' 'spotify' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="button is-link is-light"><span class="fas fa-sign-in-alt"></span> Se déconnecter de Spotify</a></button>
      </form>
  {% if spotify_login %}
    <p>Connected as <a href="https://spotify.com/{{ social.extra_data.id }}/" target="_blank">{{ spotify_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'spotify' %}">
        {% csrf_token %}
        <button type="submit">Disconnect from Spotify</button>
      </form>
    {% else %}
      <button type="button" disabled>Disconnect from Spotify</button>
      <p style="color: red">You must <a href="{% url 'password' %}">define a password</a> for your account before disconnecting from Facebook.</p>
    {% endif %}
  {% endif %}

    <p><a href="{% url 'logout' %}" class="button is-link is-light"><span class="fas fa-sign-out-alt"></span>Se déconnecter de Brotify</a></p>
  {% else %}
    <p><strong>Bienvenue sur Brotify!</strong></p>
    <p>Vous n'êtes pas connecté</p>
    <a href="{% url 'login' %}">Se connecter</a>
    <a href="{% url 'signup' %}">S'inscrire</a>
  {% endif %}
{% endblock %}